<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style_game.css">
    <title>Document</title>
</head>
<body>
    
    
    <div class="container">
        <div class="time">
           <div>1:30</div>
        </div>
        <div id="panel-game" class="panel-game">
            <div id="team1" class="teams">

            </div>
            <div id="team2" class="teams">
                
            </div>
        </div>
        <div class="bar-action-game">
            <div class="habs">
                <div class="hab"></div>
                <div class="hab"></div>
                <div class="hab"></div>
                <div class="hab"></div>
            </div>
        
        </div>
    </div>
    <script src="../../dist/frontend.provisional/game/script.js"></script>
</body>
</html>          