<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style_game.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="gameOverModal" class="modal">
            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <p id="gameOverMessage">La partida ha finalizado.</p>
            </div>
        </div>
        <div class="time">
        <div id="counter">1:30</div>
        </div>
        <div id="panel-game" class="panel-game">
            <div id="turnInfo"></div>
            <div id="team1" class="teams">
            </div>
            <div id="team2" class="teams">
                
            </div>
        </div>
        <div class="bar-action-game">
            <div class="habs">
                <div class="hab"></div>
                <div class="hab"></div>
                <div class="hab"></div>
                <div class="hab"></div>
            </div>

            <div class="items">
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
        <button id="startBattleButton" class="start-battle-button">Start Battle</button>
    </div>
    <script type="module" src="../controller/game.services2.js"></script>
</body>
</html>          