@font-face {
    font-family: 'VT323';
    src: url('./assets/PST2P.ttf');
}


html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}


body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/wallpaper.png');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'VT323';
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center center; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.panel-game {
    
    width: 72%;
    height: 74%;
    display: flex;    
}

.teams {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

#team1 {
   
    width: 50%;
    height: 100%;
    
}

#team2 {
    
    width: 50%;
    height: 100%;
    
}

#team2 div > img {
    transform: scaleX(-1);
}

.player {
    
    
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.skin {
    width: 80%;
    height: 100%;
    transform: scaleX(-1);
    
}
 

.bar-action-game {
    
    width: 72%;
    height: 20%;
    background-image: url('./assets/final-bar-action-nexus.png');
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; 
    background-size: 80% 90%;
    background-repeat: no-repeat;
}

.time {
    width: 8%;
    height: 7%;
    margin-top: 1%;
    background-image: url('./assets/frame-time.png');
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; 
    background-size: 90% 90%;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.time > div {
    color: white;
    font-size: 2vh;
}

.more-players {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sub-team {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.player-sub-team {
    
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
   
}


.barra {
    width: 50%; 
    height: 7.5%; 
    border: 3px solid black;
    background: linear-gradient(to right, #42FF00 50%, transparent 50%);
}

.img-player {
    margin: 5%;
    width: 50%;
    height: 60%;
}

.name-player {
    margin: 0;
    font-size: 2vh;
    height: 10%;
}


@media (min-height: 720px) {

   .barra {
        margin-top: 2%;
   }

}

@media (max-height: 720px) {

    .barra {
        height: 10%;
   }
   
    .img-player {
        height: 70%;
    }
    
    .name-player {
        margin: 0;
        font-size: 2vh;
        height: 10%;
    }

 }

.habs {
    width: 30%;
    height: 41%;
    margin-left: 37.9%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.hab {
    height: 100%;
    width: 20%;
    border-radius: 1px solid black;
    background-color: #42FF00;
    cursor: pointer;

}

.img-hab {
    width: 100%;
    height: 100%;
}